@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilização Global */
body {
  background-color: #020617; /* slate-950 */
  color: #f1f5f9; /* slate-100 */
}

/* Barra de rolagem personalizada (usada na lista de participantes) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a; /* slate-900 */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #10b981; /* emerald-500 */
}

/* Utilitário para animações de carregamento se necessário */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
